{% extends '_base.html' %}
{% block content %}
  <h2>Roses Details</h2>
  <div id="one_post"> 


     <h2 id="purchaser">{{ roses.purchaser }}</h2> 
     <div class="in_detail">
        <h2>{{roses.title}}</h2>
        <P>{{ roses.description }}</P>
            </div>


    <a href="{% url 'update' roses.pk %}">Update</a> {% comment %} here we add linkable button to able to make update in detail page,then redirect to same page {% endcomment %}
    <a href="{% url 'delete' roses.pk %}">Delete</a> {% comment %}here we add this line to able to make deletion from details page, then redirect to homepage{% endcomment %}
    <a href="{% url 'roses' %}">Back to Rose list </a> 

     </div>

{% endblock content %}